@import "~bootstrap/dist/css/bootstrap.css";

.brand{
    font-size:55px;
    font-family:'Arizonia';
}

.banner{
    padding-top:20px;
    padding-bottom:20px;
}

.main-content{
    font-size:17px;
}

body{
    background-image: url("assets/greyfloral.png");
}

.banner{
    background-image: url("assets/purplefloral.png");
}

.main-content{
    background-color:white;
    padding:20px;
    box-shadow: 10px 10px silver;
    margin-bottom:50px;
}

.banner{
    background-color:white;
}

.navbar{
    background-color:purple;
}

.navbar a{
    color:white!important;
}

.brand{
    color:purple;
}

.telephone{
    color:purple;
    float:right;
    line-height:55px;
    font-size:35px;
    font-family:'Arizonia';
}

.telephone{
    padding-top:10px;
    padding-right:50px;
}

.telephone .glyphicon{
    vertical-align: middle;
    line-height: 55px;
    padding-right:10px;
}